<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fate"
        tools:targetApi="31">
        <activity
            android:name=".profileButNoPartnerYet"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".chatButNoPartnerYet"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".birthdate"
            android:exported="false" />
        <activity
            android:name=".invite"
            android:exported="false" />
        <activity
            android:name=".question"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".resources"
            android:exported="false" />
        <activity
            android:name=".shop"
            android:exported="false" />
        <activity
            android:name=".surprises"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".memories"
            android:exported="false" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".notifications"
            android:exported="false" />
        <activity
            android:name=".preview3"
            android:exported="false" />
        <activity
            android:name=".preview2"
            android:exported="false" />
        <activity
            android:name=".preview1"
            android:exported="false" />
        <activity
            android:name=".loadingScreen1"
            android:exported="false" />
        <activity
            android:name=".anniversary"
            android:exported="false" />
        <activity
            android:name=".nickname"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>